{% extends "base.html" %}
{% block content %}
     <h1>Set Rave</h1>
     <form action="" method="post" novalidate>
         {{ form.hidden_tag() }}
         <p>
             {{ form.include_n.label }}
             {{ form.include_n() }}
             {% for error in form.include_n.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>
        <p>
             {{ form.include_ne.label }}
             {{ form.include_ne() }}
             {% for error in form.include_ne.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>
        <p>
             {{ form.include_e.label }}
             {{ form.include_e() }}
             {% for error in form.include_e.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>
        <p>
             {{ form.include_se.label }}
             {{ form.include_se() }}
             {% for error in form.include_se.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>
        <p>
             {{ form.include_s.label }}
             {{ form.include_s() }}
             {% for error in form.include_s.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>
        <p>
             {{ form.include_sw.label }}
             {{ form.include_sw() }}
             {% for error in form.include_sw.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>
        <p>
             {{ form.include_w.label }}
             {{ form.include_w() }}
             {% for error in form.include_w.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>
        <p>
             {{ form.include_nw.label }}
             {{ form.include_nw() }}
             {% for error in form.include_nw.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>
        <p>
             {{ form.include_red.label }}
             {{ form.include_red() }}
             {% for error in form.include_red.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>
        <p>
             {{ form.include_green.label }}
             {{ form.include_green() }}
             {% for error in form.include_green.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>
        <p>
             {{ form.include_blue.label }}
             {{ form.include_blue() }}
             {% for error in form.include_blue.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>
        <p>
             {{ form.include_turquoise.label }}
             {{ form.include_turquoise() }}
             {% for error in form.include_turquoise.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>
        <p>
             {{ form.include_yellow.label }}
             {{ form.include_yellow() }}
             {% for error in form.include_yellow.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>
        <p>
             {{ form.include_magenta.label }}
             {{ form.include_magenta() }}
             {% for error in form.include_magenta.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>
        <p>
             {{ form.include_white.label }}
             {{ form.include_white() }}
             {% for error in form.include_white.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>
        <p>
             {{ form.include_black.label }}
             {{ form.include_black() }}
             {% for error in form.include_black.errors %}
                 <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         </p>
         <p>{{ form.submit() }}</p>
     </form>
{% endblock %}