{% extends "base.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.enabled.label }}
            {{ form.enabled() }}
            {% for error in form.enabled.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.brightness.label }}
            {{ form.brightness() }}
            {% for error in form.brightness.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.effect.label }}
            {{ form.effect() }}
            {% for error in form.effect.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    <a href="/sethuecolorspan">Configure Hue Color Span</a><br><br>
    <a href="/setdoorwaytracker">Configure Doorway Tracker</a>

{% endblock %}
