{% extends "base.html" %}

{% block content %}
    {% if enabled == true %}
        <p>Effects are on</p>
        <a href="/off">Turn off</a>
    {% else %}
        <p>Effects are off</p>
        <a href="/on">Turn on</a>
    {% endif %}
    
    {% if effect == "hue_color_span" %}
        <p>Currently loaded effect is Hue Color Span with the following parameters:<br>
        <label for="start_index_field">start_index=</label>
        <input type="text" id="start_index_field" name="start_index_field" value="{{ effect_params['start_index']}}"><br>        
        <label for="starting_hue_field">starting_hue=</label>        
        <input type="text" id="starting_hue_field" name="starting_hue_field" value="{{ effect_params['starting_hue']}}"><br>        
        <label for="ending_hue_field">ending_hue=</label>        
        <input type="text" id="ending_hue_field" name="ending_hue_field" value="{{ effect_params['ending_hue']}}"><br>        
        <label for="speed_field">speed=</label>        
        <input type="text" id="speed_field" name="speed_field" value="{{ effect_params['speed']}}"><br>        
        <label for="compress_field">compress=</label>        
        <input type="text" id="compress_field" name="compress_field" value="{{effect_params['compress']}}"><br>        
    {% elif effect == "christmas_animation" %}
        <p>Currently loaded effect is Christmas Animation</p>
    {% endif %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    <a href="/sethuecolorspan">Set Hue Color Span</a>

{% endblock %}
